$verdana-font-path: "../fonts/verdana" !default;
$font-base: normal normal 14px 'Verdana', sans-serif;
$font-family-base: $font-base !default;
// colores
$orange:  #ff6319;
$yellow:  #ffb608;
$red:     #d70f18;
$purple:  #4f0b7b;
$green:   #009b3a;
$blue:    #274795;
// escala grises
$soft-gray: #f7f7f7;
$border-gray: #d8d9dd;
$color-menu: #87868a;
