ion-view(view-title='Último minuto')
  ion-content
    .padding
      h1 {{ultimoMinuto.tituloTest}}
      p Último minuto
      
      button.button.button-icon.button-clear.ion-navicon(menu-toggle='right' style="color: black")
      
