ion-view(view-title='Inicio')
  ion-content(has-bouncing='false')
    ion-slide-box.slider-home
      ion-slide
        a(href="#")
          .banner
            .half 
              p texto
            img(scr="img/slide-01.jpg")
  
    .video
      p aquí va un video
    .padding
      h1 {{home.tituloTest}}
      h2 lalala
      button.button.button-icon.button-clear.ion-navicon(menu-toggle='right' style="color: black")
